<div class="row">
  <div class="col-lg-6">
    <h1>Pokemon Travel</h1>
    <p>
      <%= image_tag "/pokemon_images/spr/#{random_spr}MS.png" %>
      素晴らしきポケモン世界</p>
    <p>
      <%= image_tag "/pokemon_images/spr/#{random_spr}MS.png" %>
      This is memory pokemon games</p>

    <div class="redgreen-top">
      <font size=3 color=#333>Red・Green</font>
      <h5>赤・緑</h5>
      <%= render 'sample_top_ranking' %>　 <!-- 以下サンプルパーティ文 -->
    </div>

    <div class="goldsilver-top">
      <font size=3 color=#333>Gold・Silver</font>
      <h5>金・銀</h5>
      <%= render 'sample_top_ranking' %>　 <!-- 以下サンプルパーティ文 -->
    </div>

    <div class="rubysapphire-top">
      <font size=3 color=#333>Ruby・Sapphire</font>
      <h5>ルビー・サファイヤ</h5>
      <%= render 'sample_top_ranking' %>　 <!-- 以下サンプルパーティ文 -->
    </div>

    <div class="diamondpearl-top">
      <font size=3 color=#333>Diamond・Pearl</font>
      <h5>ダイヤモンド・パール</h5>
      <%= render 'sample_top_ranking' %>　 <!-- 以下サンプルパーティ文 -->
    </div>

    <div class="blackwhite-top">
      <font size=3 color=#333>Black・White</font>
      <h5>ブラック・ホワイト</h5>
      <%= render 'sample_top_ranking' %>　 <!-- 以下サンプルパーティ文 -->
    </div>

    <div class="xy-top">
      <font size=3 color=#333>X・Y</font>
      <h5>X・Y</h5>
      <%= render 'sample_top_ranking' %>　 <!-- 以下サンプルパーティ文 -->
    </div>

    <div class="sunmoon-top">
      <font size=3 color=#333>Sun・Moon</font>
      <h5>サン・ムーン</h5>
      <%= render 'sample_top_ranking' %>　 <!-- 以下サンプルパーティ文 -->
    </div>


  </div>

</div>
