<div class="row">
  <div class="col-lg-6">
    <h1>Pokemon Travel</h1>
    <p>
      <%= image_tag "/pokemon_images/spr/#{random_spr}MS.png" %>
      素晴らしきポケモン世界</p>
    <p>
      <%= image_tag "/pokemon_images/spr/#{random_spr}MS.png" %>
      This is memory pokemon games</p>

    <div class="top-rankings">
      <%= render 'top_ranking', posts: @red_green %>
      <%= render 'top_ranking', posts: @gold_silver %>
      <%= render 'top_ranking', posts: @ruby_sapphire %>
      <%= render 'top_ranking', posts: @diamond_pearl %>
      <%= render 'top_ranking', posts: @black_white %>
      <%= render 'top_ranking', posts: @x_y %>
      <%= render 'top_ranking', posts: @sun_moon %>
    </div>

  </div>

</div>
